.app-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 3%;
  padding-bottom: 8%;
  padding-right: 4%;
  .main-bg {
    width: 30%;
    min-width: 553px;
    background-color: #1b242b;
    border: 2px solid #45585e;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
  }
  .main-bg::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .main-bg::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 90px;
    width: 5px;
    height: 5px;
  }
}
